  .element {
      font-family: 'Arial', sans-serif;
      font-size: 48px;
      font-weight: bold;
      background: linear-gradient(145deg, #c4c4c4, #e0e0e0, #969696, #b1b1b1, #f1f1f1);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      text-shadow: 
        0px 2px 3px rgba(255, 255, 255, 0.9),  /* Light edge */
        0px 4px 4px rgba(0, 0, 0, 0.5);       /* Dark shadow */
      letter-spacing: 2px;
    }

    body {
      background-color: #2c2c2c;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    h5 {
      margin: 0;
      color: #fff;
      font-size: 22px;
      text-align: center;
      
    }
    .typed-cursor {
  font-size: 58px; /* Set the size you want for the caret */
}